#introduction {
    background: url(../img/glasses.jpg) no-repeat top center;
    height: 500px;
}

#introduction-content {
    position: relative;
    top: 170px;
}

#introduction-content h1, h4{
    font-family: 'Squada One', cursive;
    letter-spacing: 4px;
    color: white;
    position: relative;
    top: -30px;
}

#title{
    font-family: 'Squada One', cursive;
    letter-spacing: 4px;
    font-size: 36px;
}

#menu{
    font-family: 'Squada One', cursive;
    letter-spacing: 4px;
    font-size: 18px;
}

#content-middle {
    background-color: white;
}

#content-middle img{
    width: 100%;
    height: 400px;
}

#content-middle h2{
    font-family: 'Squada One', cursive;
    font-size: 28px;
}

#content-middle hr{
    border-top: 1px solid #8c8b8b;
}

#content {
    background-color: linen;
}

#content img{
    width: 100%;
    height: 400px;
}

#content h2{
    font-family: 'Squada One', cursive;
    font-size: 28px;
}

#content hr{
    border-top: 1px solid #8c8b8b;
}


#quote {
    background: url(../img/quote.jpg) no-repeat top center;
    height: 200px;
}

#quote a {
    position: relative;
    top: 50px;
}

#quote h2 {
    font-family: 'Squada One', cursive;
    background-color: black;
    position: relative;
    top: 50px;
    letter-spacing: 4px;
    color: white;
}

#footer {
    background-color: linen;
    height: 150px;
}

#footer a, p {
    position: relative;
    top: 50px;
    left: 10px;
}
